* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /*Alinha os ítens no eixo transversal*/
    justify-content: space-around; /*Alinha os ítens no eixo principal*/
    flex-direction: column; /*Eixo principal é o vertical*/
    width: 450px;
    min-height: 45rem;
}

.profile {
    flex: 1;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    border-radius: 5px;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 5rem;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1rem;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.no-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.get-app-images {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.app-download-image {
    height: 4rem;
    width: 13.5rem;
    background-size: cover;
    margin: 0 5px;
}

.app-download-image:nth-child(1) {
    background-image: url("img/apple-button.png");
}

.app-download-image:nth-child(2) {
    background-image: url("img/googleplay-button.png");
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 1800px) {
    .instagram-phone {
        display: none;
    }

    .instagram-wrapper {
        justify-content: center;
    }
}

@media (max-width: 650px) {
    body {
        background-color: white;
    }

    .group {
        border: 1px solid transparent;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
}
